/*chat*/
.chatbot-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 8;
    }
    
    .chat-toggle {
    padding: 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    color: #007AFF;
    font-size: 30px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    }
    .chat-toggle:hover {
    color: #28a745;
    transform: scale(1.2);
    }
    
    .chat-container {
    background-color: #1E1E1E;
    border-radius: 15px;
    width: 360px;
    height: 500px;
    box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.15);
    position: absolute;
    bottom: 70px; 
    right: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transform: translateY(20px);
    transition: transform 0.3s ease, opacity 0.3s ease;
    }
    
    .chatbot-container.open .chat-container {
    transform: translateY(0);
    }
    
    .messages-container {
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    color: #EAEAEA;
    background-color: #1E1E1E;
    flex: 1;
    overflow-y: auto; 
    padding: 20px;
    max-height: 400px;  
    scrollbar-width: thin;
    }
    
    
    .message {
    padding: 12px;
    margin: 8px 0;
    border-radius: 18px;
    max-width: 80%;
    line-height: 1.5;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
    
    .message.user {
    background-color: #ffffff;
    color: #000000;
    margin-left: auto;
    border-top-left-radius: 0;
    }
    
    .message.bot {
    background-color: #2196F3;
    color: white;
    margin-right: auto;
    border-top-right-radius: 0;
    }
    
    .input-container {
    display: flex;
    padding: 15px;
    background-color: #1E1E1E;
    position: absolute;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    }
    
    .input-container input {
    flex: 1;
    padding: 12px 16px;
    border-radius: 15px;
    border: none;
    font-size: 14px;
    margin-right: 10px;
    transition: all 0.3s ease;
    }
    
    .input-container input:focus {
    outline: none;
    border-color: #007bff;
    }
    
    .input-container button {
    background-color: #2196F3;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 12px 20px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    }
    
    .input-container button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
    }
    
    .input-container button:focus {
    outline: none;
    }
    
    
    .chatbot-container.open .chat-toggle {
    color: #28a745; 
    }
    
    .loader {
    width: 50px;
    height: 20px;
    position: relative;
    padding: 10px 0px  5px 20px;
    }
    
    .loader-text {
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
    color: #007bff;
    animation: text_713 3.5s ease both infinite;
    font-size: .8rem;
    letter-spacing: 1px;
    }
    
    .load {
    background-color: #007bff;
    border-radius: 50px;
    display: block;
    height: 16px;
    width: 16px;
    bottom: 0;
    position: absolute;
    transform: translateX(64px);
    animation: loading_713 3.5s ease both infinite;
    }
    
    .load::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: #3b93f1;
    border-radius: inherit;
    animation: loading2_713 3.5s ease both infinite;
    }
    
    @keyframes text_713 {
    0% {
      letter-spacing: 1px;
      transform: translateX(0px);
    }
    
    40% {
      letter-spacing: 2px;
      transform: translateX(26px);
    }
    
    80% {
      letter-spacing: 1px;
      transform: translateX(32px);
    }
    
    90% {
      letter-spacing: 2px;
      transform: translateX(0px);
    }
    
    100% {
      letter-spacing: 1px;
      transform: translateX(0px);
    }
    }
    
    @keyframes loading_713 {
    0% {
      width: 16px;
      transform: translateX(0px);
    }
    
    40% {
      width: 100%;
      transform: translateX(0px);
    }
    
    80% {
      width: 16px;
      transform: translateX(64px);
    }
    
    90% {
      width: 100%;
      transform: translateX(0px);
    }
    
    100% {
      width: 16px;
      transform: translateX(0px);
    }
    }
    
    @keyframes loading2_713 {
    0% {
      transform: translateX(0px);
      width: 16px;
    }
    
    40% {
      transform: translateX(0%);
      width: 80%;
    }
    
    80% {
      width: 100%;
      transform: translateX(0px);
    }
    
    90% {
      width: 80%;
      transform: translateX(15px);
    }
    
    100% {
      transform: translateX(0px);
      width: 16px;
    }
    }
    