a {
    text-decoration: none !important;
    cursor: pointer;
  }
  
#content{
    margin-top: 70px;
}

.title {
    background-color: #f8f9fa;
    padding: 10px 20px;
    font-size: 14px;
}
.title i {
    margin-right: 5px;
}

.card-header-tabs .nav-link.active {
    background-color: white; 
    color: gray; 
    border-bottom: 2px solid rgb(255, 255, 255); }

    .card-header-tabs .nav-link:not(.active) {
    background-color: #f8f9fa; 
    color: black; 
    
}

.crd{
    padding-left: 15px;
    padding-right: 15px;
}

.card-body {
    padding: 20px;
    border-top: 1px solid #dee2e6;
}

.card-text {
    font-size: 14px;
    margin-bottom: 20px;
}

.btn-primary {
    background-color: #0d6efd;
    border-color: #0d6efd;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 5px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #0b5ed7;
    border-color: #0a58ca;
}

@media (max-width: 768px) {
    .card-header-tabs .nav-link {
        padding: 8px 15px;
    }

    .card-body {
        padding: 15px; 
    }

    .card-title {
        font-size: 16px;
    }

    .card-text {
        font-size: 12px;
    }

    .btn-primary {
        padding: 8px 15px;
    }
}