/*navbar*/
#navbar {
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    height: 60px; 
    z-index: 9; 
    background-color: #fff;
    display: flex; 
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,.2);
  }
  
  #logo {
    height: 40px;
    width: 40px;
  }

  .dropdown-content a.active {
    color: #5e63ff;                 
    border-bottom: 2px solid #5e63ff; 
  }
  
  .dropdown-content a.active svg {
    fill: #5e63ff;
  }

  #ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    padding: 10px;
    gap: 16px;

  }
  
  #ul > li{
    list-style: none;
  }

  .links {
    cursor: pointer;
    text-decoration:none;
  }
    
  .links span {
    padding-bottom: 7px;
    letter-spacing: 3px;
    font-size: 14px;
    font-weight: 600;
    padding-right: 15px;
    text-transform: uppercase;
  }
    
  .animation {
    position: relative;
    color: #0000AE;
    padding-bottom: 20px;
  }
    
  .animation:after {
    content: "";
    position: absolute;
    width: 80%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0000AE;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
    
.links:hover .animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
  
.bi-person{
    height: 30px;
    fill: #2d79f3;
    margin: 20px;
  
}
  
.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    min-width: 150px;
    flex-direction: column;
    width: 200px;
    background-color: white;
    justify-content: center;
}

.profile-btn {
    all: unset; 
    cursor: pointer;
    color: #007AFF;
}

.profile-btn:hover {
    transform: scale(1.05);
    color: #28a745;
}

.profile-btn svg {
    fill: currentColor; 
}
  
.value {
    background-color: transparent;
    padding: 10px;
    display: flex;
    gap: 15px;
    text-decoration: none;
    color: black;
}
  
.value:hover{
    background: #f1f1f1;
}
  
.value svg {
    width: 18px
}

/*search*/
#search-btn{
  cursor: pointer;
}

#search-btn:hover{
  transform: scale(1.03);
}

#navbar input,
#navbar button {
  border: none;
  outline: none;
}

#navbar ul {
  list-style: none;
}

#navbar .search {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(194, 189, 189, 0.4);
  backdrop-filter: blur(60px); 
  -webkit-backdrop-filter: blur(24px);
  padding: 8rem 1.5rem 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s;
}

#navbar .search__close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 1.5rem;
  color: var(--title-color);
  cursor: pointer;
}

#navbar .nav__actions {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

#navbar .nav__search,
#navbar .nav__toggle,
#navbar .nav__close {
  font-size: 1.25rem;
  color: var(--title-color);
  cursor: pointer;
  transition: color 0.4s;
}

#navbar .search__form {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  background-color: var(--container-color);
  box-shadow: 0 8px 32px hsla(230, 75%, 15%, 0.2);
  padding-inline: 1rem;
  border-radius: 0.5rem;
  transform: translateY(-1rem);
  transition: transform 0.4s;
}

#navbar .search__input {
  width: 100%;
  padding-block: 1rem;
  background-color: var(--container-color);
  color: var(--text-color);
}

#navbar .search__input::placeholder {
  color: var(--text-color);
}

#navbar .search.show-search {
  opacity: 1;
  pointer-events: initial;
}

.search-results {
    margin-top: 10px;
    border-radius: 10px;
    position: absolute;
    right: 0;
    top: 100%; 
    background: white;
    width: 100%;
    overflow-y: auto;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    z-index: 10;
}

.search-result-item {
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
}

.search-result-item:hover {
    background: #f5f5f5;
}

.no-results {
    padding: 10px;
    color: #666;
}

@media screen and (min-width: 576px) {
  #navbar .search {
    padding-top: 10rem;
  }

  #navbar .search__form {
    max-width: 450px;
    margin-inline: auto;
  }

  #navbar .search__close {
    width: max-content;
    top: 5rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    font-size: 2rem;
  }
}

@media screen and (min-width: 1023px) {
  #navbar .nav {
    height: calc(var(-- -height) + 2rem);
    column-gap: 3rem;
  }
  #navbar .nav__close,
  #navbar .nav__toggle {
    display: none;
  }
  #navbar .nav__menu {
    margin-left: auto;
  }
  #navbar .nav__list {
    flex-direction: row;
    column-gap: 3rem;
  }
  #navbar .login__form {
    padding: 3rem 2rem 3.5rem;
  }
}

@media screen and (min-width: 1150px) {
  #navbar .container {
    margin-inline: auto;
  }
}

