
.progress-container {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 5px;
    height: 25px;
}

.progress-bar {
    height: 100%;
    width: 0;
    background-color: #4a90e2;
    border-radius: 5px;
    transition: width 0.3s;
}

.container {
    max-width: 800px;
    margin: 70px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #4a90e2;
}

.instructions {
    font-size: 1.1em;
    margin: 20px 0;
    color: #555;
    text-align: center;
    padding: 15px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    background-color: #f0f8ff;
}

.question {
    margin: 20px 0;
    background-color: #e0f7fa;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#quiz  button {
    display: block;
    width: 100%; 
    margin: 10px 0;
    padding: 10px;
    background-color: #2196F3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    text-align: left;
}

#quiz  button:hover {
    background-color: #1976D2;
}

#quiz  button.selected {
    background-color: #1976D2;
    transform: scale(1.05); 
}

.result {
    margin-top: 30px;
    padding: 15px;
    font-size: 1.2em;
    background-color: #dff0d8; 
    border-radius: 5px; 
    text-align: center;
    color: #3c763d;
    display: none;
}